*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background: #1E213F;
  color: #D7E0FF;
  text-align: center;
}

nav, main, .timer-strip, .timer, .inner-circle, header, label, .customize-box div{
  display: flex;
}
main, .timer-strip, .inner-circle, .select-font, .select-color{
  justify-content: center;
  align-items: center;
}

nav{
  background: #161932;
  align-items: center;
  width: 373px;
  height: 63px;
  margin: 0 auto;
  padding: 0 5px;
  border-radius: 50px;
}

nav button{
  width: 120px;
  margin: 0 auto;
  height: 48px;
  font-weight: 700;
  border: none;
  outline: none;
  color: #D7E0FF;
  border-radius: 50px;
  cursor: pointer;
}
button, img{
  font-family: inherit;
  cursor: pointer;
}

main{
  width: 410px;
  height: 410px;
  margin: 30px auto;
  border: 2px solid #161932;
  background: linear-gradient(315deg, #2E325A, #0E112A);
  border-radius: 100vw;
  box-shadow: 50px 50px 100px 0px #121530, -50px -50px 100px 0px #272C5A;
}

.inner-circle{
  width: 366px;
  height: 366px;
  background: #161932;
  border-radius: 100vw;
}

.timer-strip{
  width: 339px;
  height: 339px;
  border-radius: 100vw;
  margin: 0 auto;
}

canvas{
  z-index: 0;
}


.timer{
  width: 320px;
  height: 320px;
  margin: 0 auto;
  border-radius: 100vw;
  flex-direction: column;
  font-size: 50px;
  font-style: bold;
  z-index: 1;
}

.timer h1{
  margin-bottom: 0;
  letter-spacing: -5px;
}

.timer div button{
  font-size: 16px;
  background: transparent;
  color: #D7E0FF;
  border: none;
  letter-spacing: 15px;
}

.settings-modal{
  width: 540px;
  height: 464px;
  background: white;
  border-radius: 25px;
  margin: 0 auto;
  text-align: left;
  color: #161932;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

header{
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E3E1E1;
  padding: 34px 38px 31px 40px;
}

header h2{
  margin: 0;
  padding: 0;
  font-size: 28px;
}

header img{
  width: 28px;
  height: 28px;
}

.customize-box{
  padding: 28px 38px 0px 40px;
}

.customize-box h3{
  font-size: 13px;
  margin-top: 0;
}

.customize-box div{
  justify-content: space-between;
  border-bottom: 1px solid #E3E1E1;
}

label{
  flex-direction: column;
  padding: 0 0 24px 0;
}

label span{
  font-size: 12px;
  color: #1E213F;
  margin-bottom: 8px;
}

.settings-select {
  width: 140px;
  height: 48px;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
  background-color: #EFF1FA;
  color: 1E213F;
}

.settings-select:focus {
  outline: none;
  border-color: #4A90E2;
  box-shadow: 0 0 5px #4A90E2;
}

.select-font, .select-color{
  width: 462px;
  height: 88px;
  padding: 21px 0 16px 0;
}

.customize-box .select-color{
  border-bottom: none;
}

.select-font div, .select-color div{
  width: 152px;
  border: none;
}

.select-color h3, .select-font h3{
  margin: 0;
  font-size: 13px;
  letter-spacing: 5px;
}

.select-font div span, .select-color div span{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
}

.apply-button{
  width: 140px;
  height: 53px;
  border: none;
  border-radius: 50px;
  margin: 0 160px;
}


@media only screen and (max-width: 600px) {
  nav{
    margin: 45px auto;
    width: 327px;
  }
  main{
    width: 300px;
    height: 300px;
    margin-bottom: 79px;
  }
  .inner-circle{
    width: 268px;
    height: 268px;
  }
  .timer-strip, canvas{
    width: 248px;
    height: 248px;
  }
  .timer h1{
    font-size: 80px;
    letter-spacing: -4px;
    margin-top: 100px;
  }
  .timer div{
    font-size: 0;
  }
  .settings-modal{
    width: 327px;
  }
  .select-color, .select-font{
    width: auto;
  }
  .settings-select{
    width: auto;
    height: 35px;
  }
  .apply-button{
    margin: 14px 25%;
  }

}